body{
    margin:  0;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    background-color: rgb(25, 35, 53)
}
h1 {
    font-weight: 600;
}
header{
    background-color:rgb(24, 35, 133);
    color: white;
    display: flex;

    align-items: center;
    padding: 15px 30px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.logo h1{
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 20px;
}
nav{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left:auto ;
}
nav a {
    color: white;

    font-size: 16px; 
    text-decoration: none;
}
nav a:hover {
text-decoration:  underline;
}

.switch{
    margin-left: 30px;
}
.checkbox {
    display: none;
}

.slider {
    width: 60px;
    height: 30px;
    background-color: lightgray;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 4px solid transparent;
    transition: .3s;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
    cursor: pointer;
}

.slider::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(spain4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6%;
    transition: .3s;
    transform: translateX(2px);
}

.checkbox:checked ~ .slider::before {
    contain: '';
    display: block;
    width: 26px;
    height: 26px;
    transform: translateX(30px);
    background-image: url(usa3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition: .3s;
}

.checkbox:checked ~ .slider {
    background-color: #2196F3;
}

.checkbox:active ~ .slider::before {
    transform: translate(0);
}




.titulo1{
    color: white;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 40px 0;
}

.separacion{
    height: 80px;
}
.fila{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}
.contenido{
    width: 100%;
    font-size: 16px;
    color: white;
    padding: 60px 0;
    background-color: rgba(13, 29, 49, 0.9);
}
.texto1{
    width: 55%;
    padding: 25px;
}
.parrafo1{
    margin-bottom: 15px;
    line-height: 1.8;
}
.imagen1{
    width: 45%;
    text-align: right;
}
.imagen1 img{
    width: 300px;
    max-width: 100%;
}
.botones{
    max-width: 1200px;
    width: 100%;
    margin: 30px auto 0;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 0 60px;
}
.btn{
    padding: 10px 20px;
    background-color: white ;
    color: #0d1d31;
    text-decoration: none;
    border-radius: 8px;
}
.btn-secundario{
    background: transparent;
    border: 2px solid white;
    color: white;
}
.titulo{
    color: white;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 40px 0;
}
.fila{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}
.contenido1{
    width: 100%;
    font-size: 16px;
    color: white;
    padding: 60px 0;
    text-align: justify;
}
.texto{
    width: 55%;
    padding: 25px;
}
.imagen2{
    width: 45%;
    text-align:left
}

.imagen2 img{
    width: 300px;
    max-width: 100%;
}
.fila{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}
.alfa{
    width: 100%;
    font-size: 16px;
    color: white;
    padding: 60px 0;
    background-color: rgba(13, 29, 49, 0.9);
}
.alfabeto{
    text-decoration: none;
    color: white;
    width: 55%;
    padding: 25px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}
.footer{
    background-color: #030912;
    padding: 80px 0;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;

}
.footer-links{
    width: 25%;
    padding: 0 15px;
}
.footer-links h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding: bottom 10px; 
    display: inline-block;
}
.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer-links ul li a:hover{
    color: #38495a;
    padding-left: 6px;
}
.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #0d1d31;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px ;
    border-radius: 50px;
    color: white;
    transform: all .5s ease;
}
.social-link a:hover{
    background-color: #447bbe;
}
.estrellas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: -1;
}

.estrella {
    position: absolute;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 8px white;
    animation: caer linear infinite;
}

@keyframes caer {
    0% { transform: translateY(-50px); opacity: 1; }
    100% { transform: translateY(110vh); opacity: 0; }
}